version: '3'

services:
  hive-metastore:
    image: apache/hive:4.0.0
    environment:
      SERVICE_NAME: metastore
      DB_DRIVER: postgres
    volumes:
      - ./hive-site.xml:/opt/hive/conf/hive-site.xml
      - ./postgresql-42.7.3.jar:/opt/hive/lib/postgresql-jdbc.jar
    ports:
      - "9083:9083"
    command: /opt/hive/bin/hive --service metastore
    depends_on:
      - hive-metastore-postgresql

  hive-metastore-postgresql:
    image: postgres:13
    container_name: hive-metastore-postgresql
    environment:
      POSTGRES_DB: metastore_db
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: password
    volumes:
      - hive-db-data:/var/lib/postgresql/data

volumes:
  hive-db-data:
